################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GateWayApp/bin
/GateWayApp/obj
/CouponAPI/bin
/CouponAPI/obj
