################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GateWayApp/Debug
/GateWayApp/obj
/CouponAPI/Debug
/CouponAPI/obj
